<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Welcome to my One Month Python Final project, I didn't think I was going to be able to make it through this course, and yet I have been able to throw a python app onto Heroku, which is too freaking rad. I am really looking forward to learning more languages and functions of programming in the near future, I think ruby on rails will be my next test, as it is similar to python, and I really enjoyed it!</h1>
                <p> My name is Nick Palaszewski and I am a Security Engineer at Sumo Logic. I built this project for <a href="http://onemonth.com/courses/one-month-python">One Month Python</a>
                    .</p>
                    <a <a href="{{ url_for('index') }}">Take me back to, cali cali, aka the Homepage! Homepage</a>
            </div>
        </div>
    </body>
</html>